@{
    ViewBag.Title = "Home Page";
}

<!-- Index page with Use Case Narratives as well as the Class Structure Diagram -->

<div class="jumbotron">
    <h1>Recycle IT</h1>
    <p>Welcome to Recycle IT, your number 1 place to recycle plastics and metals. Here at Recycle IT we aim to take on one of the Sustaiable Development Goals. The SDG that we have decided to undertake is SDG 12 which is responsible consumption and production. Plastic and Metal pose a threat to the environment, Plastic takes around 450 years to decompose whereas Metal can take around 500 years to decompose. We offer the ability to recycle plastics and metals with our indepth system, you can specify which types of plastic and materials you are recycling. </p>
    <p>The Use Cases as well as the Class Structure Diagram can be found here.</p>

    <img src="~/UseCaseNar.png" alt="UseCaseNarrative" width="650" height="500" />

    <img src="~/Plastic1.1.png" alt="Plastic Use Case 1.1" width="650" height="500" />
    <img src="~/Plastic1.2.png" alt="Plastic Use Case 1.2" width="650" height="500" />
    <img src="~/Plastic1.3.png" alt="Plastic Use Case 1.3" width="650" height="500" />

    <img src="~/Metal2.1.png" alt="Metal Use Case 2.1" width="650" height="500" />
    <img src="~/Metal2.2.png" alt="Metal Use Case 2.2" width="650" height="500" />
    <img src="~/Metal2.3.png" alt="Metal Use Case 2.3" width="650" height="500" />
</div>
